.card{
    background-color: #161616;
    border: 1px solid rgb(70, 70, 70);
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.card:hover{
    border-color: #ea580c;
}
.catg{
    border: 1px solid #ea5a0c58;
    color: #ea580c;
    background: rgba(249, 116, 22, 0.16);
    font-size: small;
    font-weight: lighter;
}
.title{
    font-weight: bolder;
    color: white;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.raed,
.card:hover .title{
    color: #ea580c;
}
