.card{
    border: 2px solid #262626;
    background-color: #161616;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.card:hover{
    background: linear-gradient(35deg,#f97316,#fbbf24);
}
.link{
    text-decoration: none;
}
.icone{
    background-color: #ea5a0c3b;
    color: #f97316;
    width: fit-content;
    border: 1px solid #f97316;
}
.card:hover .icone{
    color: white;
}
