.bgDark{
    background-color: rgba(10, 10, 10, 0.95);
}
.border{
    border: 2px solid #262626;
}
.bgBlack{
    background-color: #161616;;
}
.hw48{
    width: 3rem;
    height: 3rem;
}
.bgLinear{
    background: linear-gradient(135deg, #f97316, #ea580c);
}
.textOrange{
    color: #f97316;
}
.fs{
    font-size: small;
}
.textDecrtion{
    text-decoration: none;
}
.search{
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.search:hover{
    background-color: #161616;;
    border: 2px solid #262626;
}
.searchIcone{
    color: #505050;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.search:hover .searchIcone{
    color: #f97316;
}
.active{
    padding-inline: 1rem;
    padding-block: .7rem;
    color: white;
    text-decoration: none;
    background: linear-gradient(135deg, #f97316, #ea580c);
    border-radius: 0 2rem;
    -webkit-border-radius: 0 2rem;
    -moz-border-radius: 0 2rem;
    -ms-border-radius: 0 2rem;
    -o-border-radius: 0 2rem;
}

/* {`${styles.bgLinear} ${styles.textDecrtion} px-3 py-2 text-white rounded-end-pill rounded-start-pill`} */