.card{
    text-decoration: none;
    background-color: #161616 !important;
    border: 2px solid !important;
}
.img{
    width: 3rem;
    height: 3rem;
}
.title{
    color: white;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.card:hover .title{
    color: #ea580c;
}
.icone{
    color: white;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.card:hover .icone{
    color: #ea580c;
    transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    -o-transform: translateX(-20%);
}
.categ{
    background-color: rgba(0, 0, 0, 0.659);
    border: 1px solid;
    right: 1rem;
    top: 1rem;
    font-size: .7rem;
}