.sectionCateg{
    background-color: #111;
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
}
.cricleDot{
    width: .3rem;
    height: .3rem;
    display: inline-block;
    border-radius: 50%;
    background-color: #ea580c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.categ{
    border: 1px solid #ea5a0c58;
    color: #ea580c;
    background: rgba(249, 116, 22, 0.16);
    width: fit-content;
}
.heading{
    font-size: 3.5rem;
}