body{
  direction: rtl;
}
@media (min-width: 576px) {
    html{
        font-size: 11px;
    }
}
@media (min-width: 768px) {
    html{
        font-size: 12px;
    }
}
@media (min-width: 992px) {
    html{
        font-size: 13px;
    }
}
@media (min-width: 1200px) {
    html{
        font-size: 15px;
    }
}
@media (min-width: 1400px) {
    html{
        font-size: 16px;
    }
}